* {
  margin: 0;
}

#nav-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav-item {
  padding-left: 20px;
  padding-right: 15px;
  font-weight: bold;
  font-size: 18px;
  color: #e5e7eb;
}

.header {
  margin-top: 25px;
  font-size: 24px;
  color: #f9faf8;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}

#top {
  background-color: #1f2937;
  height: 500px;
}
